<filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>com.thinkvitals.config.CorsFilter</filter-class>
    <async-supported>true</async-supported>
</filter>

<filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <async-supported>true</async-supported>
</filter-mapping>